#include <windows.h>

4 DIALOG 0, 0, 158, 96
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "QuickChat"
FONT 8, "Tahoma"
{
    LTEXT "Remote Name:", -1, 8, 8, 48, 8
    EDITTEXT 101, 60, 6, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "Remote IP:", -1, 8, 25, 48, 8
    EDITTEXT 102, 60, 23, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "XOR Enabled:", -1, 8, 43, 48, 8
    EDITTEXT 103, 60, 41, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "Connected:", -1, 8, 60, 48, 8
    EDITTEXT 104, 60, 58, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 54, 76, 50, 14
}