#include <windows.h>

4 DIALOG 0, 0, 158, 137
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "QuickChat"
FONT 8, "Tahoma"
{
    LTEXT "Local Name:", -1, 8, 8, 48, 8
    EDITTEXT 105, 60, 6, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "Local IP:", -1, 8, 26, 48, 8
    EDITTEXT 106, 60, 24, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "", -1, 8, 41, 142, 1, SS_ETCHEDHORZ | WS_CHILD
    LTEXT "Remote Name:", -1, 8, 48, 48, 8
    EDITTEXT 101, 60, 46, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "Remote IP:", -1, 8, 66, 48, 8
    EDITTEXT 102, 60, 64, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "XOR Enabled:", -1, 8, 83, 48, 8
    EDITTEXT 103, 60, 81, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "Connected:", -1, 8, 101, 48, 8
    EDITTEXT 104, 60, 99, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 54, 117, 50, 14
}