#include <windows.h>

5 DIALOG 0, 0, 155, 62
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "QuickChat Host"
FONT 8, "Tahoma"
{
    LTEXT "Host IP:", -1, 8, 9, 45, 8
    EDITTEXT 301, 57, 7, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    LTEXT "XOR Enabled:", -1, 8, 26, 45, 8
    EDITTEXT 302, 57, 24, 90, 12, ES_READONLY | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", 1, 53, 42, 49, 14
}